<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Here is Ping</h1>
    <!-- form은 데이터를 보낼때 사용함 action은 보내는 곳 -->
    <form action="/pong">
        <!--http://127.0.0.1:5000/pong 으로 보냄-->
        <input type="text" name="keyword">
        <!-- input 텍스트 입력 받는 텍스트박스 생성후 keyword값에 대입 -->
        <input type="submit">
        <!--form 작동시키는 제출배너 생성-->
    </form>

</body>

</html>